.ProductTitle {
  font-size: 1.5rem;
  margin: auto;
  padding: 0 0 10px;
  text-align: left;
}

.ProductTitle p ul {
  margin: 0;
}

.ProductText {
  margin: 0;
}

.ProductText ul {
  margin: 0 0 2rem 2rem;
}

.ProductText ul.actions {
  margin: 0;
}

.Leading {
  margin: 1rem auto;
  padding: 3rem 0;
}

.ProductBox {
  padding: 0;
  display: flex;
  margin: auto auto 2rem auto;
  transform: none;
  cursor: none;
}

.ProductBox:hover {
  border: 1px solid rgba(0,0,0,.125);
  transform: none;
  background-color: transparent;
  outline: none;
  cursor: initial;
}

.ProductRow {
  display: flex;
  margin: auto auto 2rem auto;
}

.TopPic {
  margin: auto;
  padding: 1rem;
  width: 100%;
}


.ImageFit {
    display: block;
    margin: 0px 0px -10px -16px;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    border: 0;
    position: relative;
    height: 100%;
}

.ImageFit img{
  width: 100%;
  height: 100%;
}


.CategoryRow {
  display: flex;
  margin: auto;
}


.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin:0 0 0 -1em;
  padding-left: 0;
  padding-left: 1em;
  text-align: right;
}

.actions li {
  padding: 0;
}

.actions li a {
  width: 100%;
  padding: 0 4.5em;
}

@media screen and (min-width: 2400px) {
  .ProductRow {
    display: flex;
    margin: auto;
  }

  .CategoryRow {
    display: flex;
  }
}

@media screen and (max-width: 1680px) {
  .ProductRow {
    display: flex;
    margin: auto;
  }

  .CategoryRow {
    display: flex;
  }
}

@media screen and (max-width: 1280px) {
  .ProductRow {
    display: flex;
    margin: auto;
  }

  .CategoryRow {
    display: flex;
  }
}
@media screen and (max-width: 980px) {
  .ProductRow {
    display: flex;
    margin: auto;
  }
  .ProductTitle {
    font-size: 1rem;
    margin: auto;
    padding: 0 0 10px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .ProductRow {
    display: inline;
    margin: auto;
  }

  .CategoryRow {
    display: inline;
  }
}

@media screen and (max-width: 480px) {
  .Leading {
    margin: 1rem auto;
    padding: 2rem 0;
  }

  .ProductBox {
    padding: 0 0 1rem 0;
    display: flex;
    margin: auto 1rem 2rem 1rem;
  }

  .ProductRow {
    display: inline;
    margin: auto auto 2rem auto;
  }

  .CategoryRow {
    display: inline;
  }


.ImageFit {
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 5px;
    padding: 15px 0;
    border: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}
}

@media screen and (max-width: 360px) {
  .ProductRow {
    display: inline;
    margin: auto;
  }

  .CategoryRow {
    display: inline;
  }
}
