.covidHeader {
    margin: auto auto 3em;
    padding: 4rem;
    width: 100%;
    /*background-image: url('../../../../images/covid19/coronavirus-statistics-on-screen-3970329.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border-radius: 5px;
}
/*
.covidHeader h2 {
    color: red;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
}

.covidHeader p {
    color: white;
    text-shadow: 1px 1px 5px red;
    font-weight: 600;
}
*/
.intro {
    margin: 2rem auto;
}

.covidCTA {
    display: flex;
    justify-content: center;
    margin: 4rem auto;

}

.PictureRow {
    display: flex;
}

@media screen and (min-width: 2400px) {


}


@media screen and (max-width: 168px) {

    
}


@media screen and (max-width: 1280px) {

}


@media screen and (max-width: 980px) {


}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 480px) {
    .PictureRow {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
    .PictureRow {
        display: block;
    }

}